<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.project.member.MemberDao">
 
 <select id="getMemberList" parameterType="com.project.member.MemberVO"
 							resultType="com.project.member.MemberVO">

 	select *  from memberTBL where 1=1
   	<if test="ch1=='name'">
    and name like #{ch2} 
   	</if>
  	<if test="ch1=='roadAddress'">
    and roadAddress like #{ch2} 
   	</if>
 
 </select>
 
  <insert id="memberInsert" parameterType="com.project.member.MemberVO">
   
     insert  into memberTBL (memberid, bcrypt, name, postcode, roadAddress, detailAddress, tel ,grade, registration)
     values( seq_member.nextval,#{bcrypt},#{name},#{postcode},#{roadAddress},#{detailAddress},#{tel},#{grade},sysdate)
  
  </insert>
  
 </mapper>